<h1> Assessment #1 </h1>

<h3> Download data and get understanding of what is available to work with </h3>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://s3-us-west-2.amazonaws.com/pcadsassessment/parking_citations.corrupted.csv', dtype={'Ticket number': str, 'VIN': str})

In [2]:
df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [3]:
df.shape

(8726014, 19)

In [4]:
df.describe()

,Issue time,Marked Time,Plate Expiry Date,Agency,Fine amount,Latitude,Longitude
count,8.723431e+06,290599.000000,7.931187e+06,8.725469e+06,8.719507e+06,8.726011e+06,8.726011e+06
mean,1.203930e+03,1055.399286,1.867823e+05,5.200932e+01,7.011293e+01,5.501648e+06,1.586792e+06
std,4.722413e+02,227.596205,5.276278e+04,9.301675e+00,3.211512e+01,3.004177e+06,2.065458e+06
min,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+01,9.999900e+04,9.999900e+04
25%,9.120000e+02,910.000000,2.016010e+05,5.100000e+01,6.300000e+01,6.421512e+06,1.821558e+06
50%,1.156000e+03,1035.000000,2.017020e+05,5.400000e+01,6.800000e+01,6.451540e+06,1.841987e+06
75%,1.511000e+03,1200.000000,2.018030e+05,5.500000e+01,7.300000e+01,6.475013e+06,1.858207e+06
max,2.359000e+03,2400.000000,8.201080e+05,9.700000e+01,5.050000e+02,4.042322e+09,4.042322e+09

<h3> Select portion of data with known vehicle makes </h3>

In [69]:
make_df = df[pd.notnull(df['Make'])].copy().reset_index(drop=True)

In [70]:
make_df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
1,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
2,1106506424,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201511.0,NaN,FORD,TR,WH,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
3,1106506435,2015-12-22T00:00:00,1105.0,NaN,NaN,CA,201701.0,NaN,CHRY,PA,GO,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
4,1107179581,2015-12-27T00:00:00,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,BK,3100 N HOLLYRIDGE DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0

<h3> Find top 25 makes and create column specifying in top 25 or outside top 25 </h3>
1 means in top 25, 0 means not in top 25

In [71]:
top25 = make_df['Make'].value_counts().head(25)

In [72]:
make_df['Make'].value_counts()

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
MNNI     30885
LNDR     23351
PORS     21926
FRHT     20976
BUIC     20726
         ...
HUYD         1
SCAM         1
MISV         1
NATH         1
DAWE         1
GFLC         1
RANH         1
TRK          1
GINO         1
THMA         1
VGMD         1
SOUL         1
PINC         1
PRQW         1
JMBO         1
NNBG         1
SFAR         1
SUKI         1
STOO         1
MNA          1
MALK         1
TERA         1
HRTL         1
CAMR         1
CEHM         1
COTZ         1
SAND         1
GARB         1
INNI         1
WILS         1
Name: Make, Length: 1477, dtype: int64

In [76]:
make_df.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,top25
0,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,1
1,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0,1
2,1106506424,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201511.0,NaN,FORD,TR,WH,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0,1
3,1106506435,2015-12-22T00:00:00,1105.0,NaN,NaN,CA,201701.0,NaN,CHRY,PA,GO,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0,1
4,1107179581,2015-12-27T00:00:00,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,BK,3100 N HOLLYRIDGE DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0,1

In [74]:
make_df['top25'] = 0

In [75]:
make_df['top25'].loc[make_df['Make'].isin(list(top25.index))] = 1

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [77]:
make_df[make_df['top25']==1].shape

(3986214, 20)

<h3> Choose data to train model with and clean data</h3>

In [78]:
train_set = make_df[['Issue time', 'Plate Expiry Date', 'Agency', 'Fine amount', 'Latitude', 'Longitude', 'top25']].copy()

In [79]:
train_set.shape

(4357544, 7)

In [80]:
train_set.dropna(inplace=True)

In [81]:
train_set.shape

(3957359, 7)

In [82]:
train_set.head()

,Issue time,Plate Expiry Date,Agency,Fine amount,Latitude,Longitude,top25
0,115.0,200316.0,1.0,93.0,99999.0,99999.0,1
1,1710.0,201605.0,1.0,163.0,99999.0,99999.0,1
2,1100.0,201511.0,1.0,93.0,99999.0,99999.0,1
3,1105.0,201701.0,1.0,93.0,99999.0,99999.0,1
4,1055.0,201605.0,54.0,68.0,99999.0,99999.0,1

<h3> Scale data and train logistic regression model</h3>
Logistic regression was chosen because it easily returns the probability of the vehicle being in the top25

In [18]:
xtrain = np.asarray(train_set[['Issue time', 'Plate Expiry Date', 'Agency', 'Fine amount', 'Latitude', 'Longitude']])

In [19]:
ytrain = np.asarray(train_set['top25'])

In [20]:
ytrain[0:5]

array([1, 1, 1, 1, 1])

In [21]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(xtrain)
xtrain =  scaler.transform(xtrain)
xtrain[0:5]

array([[-2.30637922,  0.2566364 , -5.45105791,  0.71782452, -1.74287773,
        -0.67727352],
       [ 1.07142598,  0.28105754, -5.45105791,  2.89550874, -1.74287773,
        -0.67727352],
       [-0.2203992 ,  0.27927663, -5.45105791,  0.71782452, -1.74287773,
        -0.67727352],
       [-0.20981047,  0.28287634, -5.45105791,  0.71782452, -1.74287773,
        -0.67727352],
       [-0.31569778,  0.28105754,  0.21569683, -0.05991984, -1.74287773,
        -0.67727352]])

In [22]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C=0.01, solver='liblinear').fit(xtrain, ytrain)

In [66]:
#create pipeline so its easier for input of rows. makes code cleaner
from sklearn.pipeline import Pipeline
LRpipe = Pipeline([('scaler', scaler), ('lr', LR)])
LRpipe

Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lr', LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False))])

<h3> Test model with corrupted data from original file </h3>

In [23]:
train_set[train_set['top25']==1].shape

(3635102, 7)

In [24]:
df.shape

(8726014, 19)

In [25]:
#test rows
test_set = df[~pd.notnull(df['Make'])]

In [26]:
test_set.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
5,1106226590,2015-09-15T00:00:00,19.0,NaN,NaN,CA,201507.0,NaN,NaN,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0

In [27]:
test_set = test_set[['Issue time', 'Plate Expiry Date', 'Agency', 'Fine amount', 'Latitude', 'Longitude']].dropna().head(30)

In [28]:
test_set.head(30)

    Issue time  Plate Expiry Date  Agency  Fine amount   Latitude  Longitude
0       1251.0           200304.0     1.0         50.0    99999.0    99999.0
1       1435.0           201512.0     1.0         50.0    99999.0    99999.0
2       2055.0           201503.0     2.0         58.0  6439997.9  1802686.4
5         19.0           201507.0     1.0         50.0    99999.0    99999.0
7       1710.0           201602.0     1.0        163.0    99999.0    99999.0
8        945.0           201605.0     1.0         93.0    99999.0    99999.0
9       1100.0           201701.0     1.0         93.0    99999.0    99999.0
12      1110.0           201511.0     1.0         50.0    99999.0    99999.0
13       825.0           201607.0     1.0         93.0    99999.0    99999.0
15      1200.0           201602.0    54.0         68.0    99999.0    99999.0
16      1400.0           201611.0    54.0         68.0    99999.0    99999.0
17      2120.0           201502.0     1.0         50.0    99999.0    99999.0
20      1105.0           201611.0     1.0         73.0    99999.0    99999.0
23      1900.0           201511.0     1.0         50.0    99999.0    99999.0
24       140.0           201603.0     1.0         25.0    99999.0    99999.0
26       205.0           201607.0     1.0         25.0    99999.0    99999.0
27       200.0           201511.0     1.0         25.0    99999.0    99999.0
28       225.0           201512.0     1.0         25.0    99999.0    99999.0
33      1041.0           201610.0     1.0         93.0  6451860.6  1890192.1
34      1058.0           201506.0     1.0         50.0    99999.0    99999.0
36      1300.0           201511.0     1.0         50.0    99999.0    99999.0
39      1951.0           201604.0    54.0         63.0    99999.0    99999.0
40      1953.0           201603.0    54.0         63.0    99999.0    99999.0
42      1550.0           201608.0     1.0        363.0  6429130.8  1880027.3
44      1815.0           201603.0    36.0         68.0  6467477.1  1868721.0
45      2140.0           201512.0    36.0         68.0  6490251.3  1851321.5
46      2240.0           201507.0    36.0         68.0  6475830.9  1853025.9
48       135.0           201510.0     1.0         50.0    99999.0    99999.0
49       310.0           201511.0     1.0         50.0    99999.0    99999.0
51      1435.0           201511.0     1.0         50.0    99999.0    99999.0

In [29]:
xtest = np.asarray(test_set[['Issue time', 'Plate Expiry Date', 'Agency', 'Fine amount', 'Latitude', 'Longitude']])

<h3> These two cells will need to be implemented in POST function of server </h3>
Everything above will be run as server setup. I will have to save the pipeline so that it can be loaded quickly within a post request of a JSON representation of a corrupted row.
The first is the probability of class 0, or outside the top 25 car makes. The second is the probability of class 1, a vehicle that is one of the top 25 makes

In [64]:
yhat_pipe = LRpipe.predict_proba(xtest)
yhat_pipe

array([[0.25659905, 0.74340095],
       [0.25660263, 0.74339737],
       [0.25636897, 0.74363103],
       [0.25657493, 0.74342507],
       [0.25670677, 0.74329323],
       [0.25663062, 0.74336938],
       [0.25663365, 0.74336635],
       [0.25659627, 0.74340373],
       [0.25662827, 0.74337173],
       [0.24344465, 0.75655535],
       [0.24344843, 0.75655157],
       [0.25661603, 0.74338397],
       [0.25661627, 0.74338373],
       [0.25661173, 0.74338827],
       [0.25655545, 0.74344455],
       [0.25655672, 0.74344328],
       [0.25655663, 0.74344337],
       [0.25655712, 0.74344288],
       [0.25663245, 0.74336755],
       [0.25659526, 0.74340474],
       [0.25659999, 0.74340001],
       [0.24345462, 0.75654538],
       [0.24345465, 0.75654535],
       [0.25687844, 0.74312156],
       [0.24787698, 0.75212302],
       [0.2478832 , 0.7521168 ],
       [0.24788511, 0.75211489],
       [0.2565772 , 0.7434228 ],
       [0.25658062, 0.74341938],
       [0.25660263, 0.74339737]])

<h1> Assessment #2 </h1>
Top 25 Makes from the data (calculated above in Assessment #1)

In [32]:
top25 = list(top25.index)
top25

['TOYT',
 'HOND',
 'FORD',
 'NISS',
 'CHEV',
 'BMW',
 'MERZ',
 'VOLK',
 'HYUN',
 'DODG',
 'LEXS',
 'KIA',
 'JEEP',
 'AUDI',
 'MAZD',
 'OTHR',
 'GMC',
 'CHRY',
 'INFI',
 'ACUR',
 'SUBA',
 'VOLV',
 'TOYO',
 'MITS',
 'CADI']

<h3>Top color for each of the top 25 makes</h3>

In [33]:
for make in top25:
    colors = make_df[make_df['Make'] == make]['Color'].value_counts()
    print('Make:', make, 'top color:', colors.index[0])

Make: TOYT top color: GY
Make: HOND top color: GY
Make: FORD top color: WT
Make: NISS top color: GY
Make: CHEV top color: WT
Make: BMW top color: BK
Make: MERZ top color: BK
Make: VOLK top color: BK
Make: HYUN top color: GY
Make: DODG top color: WT
Make: LEXS top color: BK
Make: KIA top color: BK
Make: JEEP top color: BK
Make: AUDI top color: BK
Make: MAZD top color: GY
Make: OTHR top color: BN
Make: GMC top color: WT
Make: CHRY top color: GY
Make: INFI top color: BK
Make: ACUR top color: BK
Make: SUBA top color: GY
Make: VOLV top color: BK
Make: TOYO top color: GY
Make: MITS top color: WT
Make: CADI top color: BK

In [55]:
time_df = make_df.copy()
time_df.head()
time_df = make_df[['Make', 'Issue Date', 'Issue time']].copy()
time_df['Issue Date'] = pd.to_datetime(time_df['Issue Date'])
time_df.sort_values(by=['Issue Date', 'Issue time'], inplace = True)
time_df.head()

         Make Issue Date  Issue time
53371    FORD 2010-01-09        15.0
393023   FORD 2010-04-27      2140.0
506385   ACUR 2010-06-09       510.0
553068    KIA 2010-06-10        15.0
3862428  CHEV 2010-06-25       343.0

<h3>First issued ticket for each of the top 25 makes</h3>

In [56]:
for make in top25:
    date = str(time_df[time_df['Make'] == make]['Issue Date'].iloc[0])
    time = time_df[time_df['Make'] == make]['Issue time'].iloc[0]
    print('Make:', make, 'Date: ', date[:-9], 'Time: ', time)

Make: TOYT Date:  2014-10-30 Time:  800.0
Make: HOND Date:  2011-03-06 Time:  404.0
Make: FORD Date:  2010-01-09 Time:  15.0
Make: NISS Date:  2012-06-09 Time:  215.0
Make: CHEV Date:  2010-06-25 Time:  343.0
Make: BMW Date:  2010-10-09 Time:  1415.0
Make: MERZ Date:  2010-10-20 Time:  1935.0
Make: VOLK Date:  2011-11-07 Time:  1645.0
Make: HYUN Date:  2011-12-10 Time:  1210.0
Make: DODG Date:  2011-09-10 Time:  1149.0
Make: LEXS Date:  2014-10-30 Time:  831.0
Make: KIA Date:  2010-06-10 Time:  15.0
Make: JEEP Date:  2010-10-05 Time:  1055.0
Make: AUDI Date:  2012-06-04 Time:  2020.0
Make: MAZD Date:  2014-02-18 Time:  705.0
Make: OTHR Date:  2014-10-30 Time:  1259.0
Make: GMC Date:  2012-03-12 Time:  1430.0
Make: CHRY Date:  2011-04-12 Time:  931.0
Make: INFI Date:  2014-01-03 Time:  1025.0
Make: ACUR Date:  2010-06-09 Time:  510.0
Make: SUBA Date:  2012-07-03 Time:  1205.0
Make: VOLV Date:  2012-10-06 Time:  2130.0
Make: TOYO Date:  2010-10-18 Time:  2220.0
Make: MITS Date:  2014-08-10 Time:  1030.0
Make: CADI Date:  2013-03-25 Time:  1359.0